<!DOCTYPE html>
<html>
<head>
	<title>Resturant deals</title>
	<link rel="stylesheet" href="week02home.css" type="text/css">
</head>
<body>
<div class="row">
    
	<div class="main">
	<h1>Resturants with deals</h1>
	<p>This is the top restaurant with a deal in zipcode "<%= zip %>":</p>
	<p>The resturant "<%= id %>".</p> 
	<ul>
		<% Array.from(testing).forEach(function(o) { %>
			<li><%= o.res_id %> is <%= o.res_name %></li>
		<% }); %>
	</ul>
<!--
	<table>

      <thead>
        <tr>
          <th>Resturant ID</th>
          <th>Resturant Name</th>

        </tr>
      </thead>

      <tbody>
       <% for (var i = 0; i < num; i++) { %>
       <tr>
         <td><%= testing[i].res_id %></td>
         <td><%= testing[i].res_name %></td>
       <% } %>
       </tr>
      </tbody> 

    </table>
-->
	</div>
	</div>

	</body>
</html>