<!DOCTYPE html>
<html>
<head>
	<title>Resturant deals</title>
	<link rel="stylesheet" href="week02home.css" type="text/css">
</head>
<body>
<div class="row">
    
	<div class="main">
	<h1>Resturants with deals</h1>
	<p>There are the following restaurants with a deal in zipcode "<%= zip %>":</p>
	<p><%= sql %> responded with <%= id %> with a length of <%= id %></p>
	<table class="table table-inverse">
      <thead>
        <tr>
          <th>Resturant ID</th>
          <th>Resturant Name</th>

        </tr>
      </thead>

      <tbody>
       <% var key, count = 0;
	   for( key in result){ %>
       <tr>

         <td><%= result[count].res_id %></td>
         <td><%= result[count].res_name %></td>

       </tr>
    <% if(result.hasOwnProperty(key)) {
    count++;
  }} %>
      </tbody>

    </table>
	</div>
	</div>

	</body>
</html>